/* ———————————————————————————————————— Individual Movie Page ——————————————————————————————————— */

.main-tagline {
  font-family: Land;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
}

.main-tagline::first-line {
  text-decoration: underline var(--light-purple) 3px;
  text-underline-offset: -50px;
}

.expanded-thumbnail {
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.actual-expanded-thumb {
  width: 300px;
  border-radius: 10px;
  cursor: none;
  box-shadow: 0px 0px 0px 0px var(--dark-purple);
}

@keyframes hover-glow {
  0% {
    box-shadow: 0px 0px 24px 12px var(--light-purple);
  }

  50% {
    box-shadow: 0px 0px 24px 12px var(--dark-purple);
  }

  100% {
    box-shadow: 0px 0px 24px 12px var(--light-purple);
  }
}

@keyframes hover-off-glow {
  from {
    box-shadow: 0px 0px 24px 12px var(--dark-purple);
  }

  to {
    box-shadow: 0px 0px 0px 3px var(--dark-purple);
  }
}

.exp-subheader-title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 25px;
  font-weight: 1000;
  text-decoration: underline var(--dark-purple) 3px;
  text-underline-offset: -50px;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.exp-return-button {
  height: 100%;
  width: 200px;
  max-width: 200px;
  color: #ffffff;
  background-color: #131313;
  border-radius: 10px;
  transition: 250ms;
  font-family: Land;
  font-size: 24px;
  padding: unset;
  border: 3px solid var(--light-purple);

}

.exp-return-button:hover:active {
  box-shadow: unset;
  transition: 50ms;
}

.exp-return-button:hover {
  box-shadow: inset 101px 0px 0px 0px var(--light-purple), inset -101px 0px 0px 0px var(--light-purple), 0px 0px 16px 4px var(--dark-purple);
}

.actual-expanded-thumb:hover {
  box-shadow: 0px 0px 24px 12px var(--light-purple);
  transition: 150ms ease-out;
  animation: hover-glow 3s ease-out 150ms infinite;
}

.overview-text {
  text-align: justify;
  text-align-last: center;
  font-size: 26px;
  font-family: Land;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
}

.overview-text::first-line {
  text-decoration: underline var(--dark-purple) 3px;
  text-underline-offset: -40px;
}

/* ————————————————————————————————————— Expanded Button Row ———————————————————————————————————— */

.exp-button-row {
  display: flex;
  justify-content: space-between;
  min-width: max-content;
  width: 90%;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.exp-thumb-button {
  width: 200px;
  height: 80px;
  transition: 250ms;
  background-color: #131313;
  border: 3px solid var(--light-purple);
}

.exp-thumb-button.active .icon {
  color: var(--dark-purple)
}

.exp-thumb-button:hover:active {
  box-shadow: none;
}

.exp-thumb-button:hover {
  box-shadow: inset 101px 0px 0px 0px var(--light-purple), inset -101px 0px 0px 0px var(--light-purple), 0px 0px 16px 4px var(--dark-purple);
}

.exp-icon {
  scale: 2;
  color: #ffffff;
}

.exp-tooltip {
  font-size: 11px !important;
  padding: 5px 0px 5px 0px !important;
  margin-left: auto;
  margin-right: auto;
  width: 80px !important;
  scale: 2;
  z-index: 100 !important;
}

span {
  z-index: 9999 !important;

}

@media (min-width:375px) and (max-width:1000px) {

  .expanded-main-content {
    margin-left: auto !important;
    margin-right: auto !important;
    flex-direction: column !important;
    align-items: center;
    min-height: 800px !important;
  }

  .subheader-title {
    padding-left: 0px !important;
  }

  .exp-thumb-button {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }

  .exp-thumb-button:hover {
    box-shadow: inset 116px 0px 0px 0px var(--light-purple), inset -116px 0px 0px 0px var(--light-purple), 0px 0px 16px 4px var(--dark-purple);
  }

  .exp-thumb-button .icon {
    scale: 1.75 !important;
  }

  .main-tagline {
    margin-top: -20px;
  }

  .overview-text {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .right-thumbnail-content {
    padding-top: 75px;
    max-height: unset !important;
  }

  .exp-subheader-title {
    justify-content: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .editor {
    font-size: 16px !important;
  }

  .existing-content {
    font-size: 16px !important;
  }

  .existing-title {
    font-size: 18px !important;
    text-decoration: underline 2px var(--light-purple) !important;
  }

  .add-tag-button {
    width: 100px !important;
  }

}

@media (max-width:450px) {

  .exp-tooltip {
    font-size: 9px !important;
    width: 60px !important;
  }

}

@media (min-width:1000px) and (max-width:1400px) {

  .expanded-main-content {
    margin-left: auto !important;
    margin-right: auto !important;
    flex-direction: column !important;
    align-items: center;
  }

  #exp-subheader .subheader-title {
    padding-left: 0px !important;
  }

  .main-tagline {
    margin-top: -20px;
  }

  .overview-text {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .right-thumbnail-content {
    padding-top: 75px;
    max-height: unset !important;
  }

  .exp-thumb-button {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
  }

  .tag-content {
    height: 250px
  }

  .add-tag-button {
    margin-bottom: 50px;
    width: 150px;
  }

}

@media (min-width: 1400px) {

  .break-tag {
    margin-top: 50px;
  }

  .right-thumbnail-content {
    min-height: 450px !important;
  }

}


/* ————————————————————————————————————————— Movie Tags ————————————————————————————————————————— */

.movie-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@media (max-width: 1400px) {

  .movie-tag {
    margin-top: 20px;
  }

}

.break-tag {
  color: #000000;
  background: radial-gradient(circle, var(--dark-purple) 0%, var(--light-purple) 100%);
  height: 5px;
  border-radius: 5px;
  border: unset;
  width: 90%;
  z-index: 50 !important;
}

.break-tag-small {
  color: #000000;
  background: var(--dark-purple);
  height: 3px;
  border-radius: 5px;
  border: unset;
  width: 90%;
  z-index: 50 !important;
}

.extra {
  height: 1px;
}

.tag {
  margin-top: 20px;
  margin-bottom: 20px;

}

.tag::first-line {
  text-decoration: none;
}

.text-tag-label {
  font-size: 30px;
  margin-top: 5px;
  font-family: Land;
}

.editor {
  margin-top: 20px;
  margin-bottom: 50px;
  resize: none;
  font-size: 24px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Land;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 75%;
  box-shadow: 0px 0px 4px 2px var(--light-purple);
  transition: 250ms;
  background: #131313;
}

.editor:hover {
  box-shadow: 0px 0px 8px 4px var(--light-purple);
  transition: 250ms;
}

.editor:focus-visible {
  box-shadow: 0px 0px 16px 8px var(--light-purple);
  border: unset;
  outline: unset;
  transition: 250ms;
}

.editor::placeholder {
  opacity: 1;
  color: var(--light-purple);
}

.add-tag-button {
  margin-bottom: 50px;
  width: 200px;
}

.edit-tag-button {
  margin-bottom: 50px;
  width: 150px;
  height: 60px;
}

/* ———————————————————————————————————————— Sign Up Modal ——————————————————————————————————————— */

.sign-up-button {
  height: 70.8px;
  width: 70.8px;
  font-size: 16px;
}

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  background-color: #000000aa;
  opacity: 1;
}

.sign-up-modal {
  display: flex;
  width: 320px;
  height: 500px;
  margin: auto;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px var(--dark-purple), 0px 0px 32px 16px var(--light-purple);
  opacity: 1;
  transition: 250ms ease-out;
}

.sign-up-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.after-input {
  display: flex;
  width: 320px;
  height: 320px;
  margin: auto;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px var(--dark-purple), 0px 0px 32px 16px var(--light-purple);
  opacity: 1;
  transition: 250ms ease-out;
}

.after-content {
  display: flex;
  height: 100%;
  align-items: center;
  align-content: center;
}

.after-label {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-title {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px var(--dark-purple);
  width: 100%;
  top: 0;
  text-align: center;
  font-family: Land;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  height: 70px;
}

.inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sign-up-buttons {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px var(--dark-purple);
  width: 100%;
  height: 70px;
  padding: 10px;
}

.switch-buttons {
  width: 100%;
  border: 3px solid var(--light-purple);
  font-family: Land;
  transition: 250ms ease-out;
}

.submit {
  width: 100%;
  border: 3px solid var(--light-purple);
  font-family: Land;
  transition: 250ms ease-out;
}

.switch-buttons:hover,
.submit:hover {
  box-shadow: inset 151px 0px 0px 0px var(--light-purple), inset -151px 0px 0px 0px var(--light-purple), 0px 0px 16px 4px var(--dark-purple);
}

/* ————————————————————————————————————— Existing User Tags ————————————————————————————————————— */

.user-tag-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.existing-tag-list {
  margin-top: 40px;
  width: 80%;
}

.existing-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.existing-tag li {
  border-top: 1px solid var(--dark-purple);
  border-bottom: 1px solid var(--dark-purple);
  box-shadow: inset 0px 0px 0px 0px var(--dark-purple), inset 0px 0px 0px 0px var(--dark-purple);
  transition: 150ms ease-out;
  cursor: pointer;
}

.existing-tag li:hover {
  border-top: 1px solid var(--light-purple);
  border-bottom: 1px solid var(--light-purple);
  box-shadow: inset 0px 1px 0px 0px var(--light-purple), inset 0px -1px 0px 0px var(--light-purple);
  transition: 150ms ease-out;

}

.existing-title {
  font-family: Land;
  text-align: center;
  font-size: 30px;
  text-decoration: underline var(--light-purple) 3px;
  margin-bottom: 5px;
}

.existing-content {
  font-family: Land;
  text-align: justify;
  text-align-last: center;
  font-size: 25px;
}

.tag-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}

.update {
  margin-bottom: 10px;
}

.tag-edit-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}