@tailwind base;
@tailwind components;
@tailwind utilities;

/* ————————————————————————————————————— Font Initialisation ———————————————————————————————————— */

@font-face {
  font-family: Ankh;
  src: url('./resources/font/AnkhSanctuary.woff');
}

@font-face {
  font-family: Land;
  src: url('./resources/font/Landasans.woff');
}

@font-face {
  font-family: LandLight;
  src: url('./resources/font/LandasansLight.woff');
}

body {
  font-family: LandLight;

  --dark-purple: rgba(90, 0, 154, 1);
  --light-purple: rgba(137, 0, 157, 1);
}

/* ————————————————————————————————————— Content Containers ————————————————————————————————————— */

.main-content {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

.expanded-main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}

.right-thumbnail-content {
  display: flex;
  justify-content: center;
  align-content: space-between;
  min-width: 200px;
  max-width: 840px;
  flex-wrap: wrap;
  max-height: 450px;
}

.trending-main-content {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 75px;
  margin-right: 75px;
  min-height: 2000px;
}

@media (min-width:375px) and (max-width: 1000px) {
  .subheader {
    justify-content: center !important;
    text-align: center !important;
  }

  .subheader-title {
    padding-left: 0px !important;
  }

  .browsing-subheader-title {
    text-align: center;
    padding-left: 0px !important;
    font-size: 14px !important;
  }
}

@media (max-width: 430px) {

  .trending-main-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .browsing-main-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* ————————————————————————————————————————— Global Card ———————————————————————————————————————— */

@keyframes card-appear {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.trending-list {
  list-style: none;
}

.page-card {
  width: 260px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 564px;
}

.thumbnail-title {
  opacity: 0;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  font-family: Land;
  animation-name: card-appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  color: #ffffff;
  transition: 150ms;
}

.thumbnail-title:hover {
  color: var(--light-purple);
  text-decoration: underline;
  transition: 0ms;
}

.thumbnail-date {
  opacity: 0;
  font-size: 26px;
  text-align: center;
  color: #787878;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.card-thumbnail {
  opacity: 0;
  border-radius: 10px;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.actual-thumb {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 3px var(--dark-purple);
  transition: 150ms ease-out;
}

.actual-thumb:hover {
  box-shadow: 0px 0px 16px 8px var(--light-purple);
}

.button-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  opacity: 0;
  animation-name: card-appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.thumb-button {
  width: 70px;
  border: 2px solid var(var(--dark-purple));
  transition: 250ms;
  background-color: #131313;
  border: 3px solid var(--light-purple);

}

.thumb-button:hover {
  box-shadow: inset 36px 0px 0px 0px var(--light-purple), inset -36px 0px 0px 0px var(--light-purple), 0px 0px 16px 4px var(--dark-purple);
}

.icon {
  transition: 150ms ease-out;
  scale: 1.75;
  color: #ffffff
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}